/Si4735 DSP ラジオ by JP3SRS.pptx
/Si4735-コマンドプロパティ.xlsx
/Si4735_board_partList.xlsx
/トロイド巻き数.xlsx
/部品表.txt
/1石アンプ増幅度.xlsx
/DATASHEET
/KiCad-Si4735.xlsx
/LTspice
old/
/KiCad_Si4735/KiCad-Si4735-backups/
/KiCad_RaspberryPiPico/KiCad-backups/
/KiCad_SP/KiCad_SP-backups/

